<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
  </configSections>
  <connectionStrings>
    <add name="PTIT.Properties.Settings.PTITConnectionString" connectionString="Data Source=PHUOC-PC;Initial Catalog=PTIT;Integrated Security=True"
      providerName="System.Data.SqlClient" />
    <add name="PTIT2012.Properties.Settings.PTITConnectionString"
      connectionString="Data Source=PHUOC-PC;Initial Catalog=PTIT;Integrated Security=True"
      providerName="System.Data.SqlClient" />
  </connectionStrings>
</configuration>