USE [master]
GO
/****** Object:  Database [PTIT]    Script Date: 8/23/2016 6:43:44 AM ******/
CREATE DATABASE [PTIT]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'PTIT', FILENAME = N'D:\PTITHCM\DATABASE\PTIT.mdf' , SIZE = 3072KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'PTIT_log', FILENAME = N'D:\PTITHCM\DATABASE\PTIT_log.ldf' , SIZE = 1024KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [PTIT].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [PTIT]
GO
/****** Object:  Table [dbo].[CHITIETPHIEUMUON]    Script Date: 8/23/2016 6:43:44 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CHITIETPHIEUMUON](
	[SOPM] [nvarchar](50) NOT NULL,
	[MASACH] [nvarchar](50) NOT NULL,
	[NGAYTRA] [datetime] NULL,
	[GHICHU] [nvarchar](250) NULL,
	[TINHTRANG] [bit] NULL,
	[GIAHAN] [bit] NULL,
 CONSTRAINT [PK_CHITIETPHIEUMUON_SOPM_MS] PRIMARY KEY CLUSTERED 
(
	[SOPM] ASC,
	[MASACH] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[CHITIETPHIEUTRA]    Script Date: 8/23/2016 6:43:44 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CHITIETPHIEUTRA](
	[SOPT] [nvarchar](50) NOT NULL,
	[MASACH] [nvarchar](50) NOT NULL,
	[GHICHU] [nvarchar](50) NULL,
 CONSTRAINT [PK_CHITIETPHIEUTRA_SOPT_MS] PRIMARY KEY CLUSTERED 
(
	[SOPT] ASC,
	[MASACH] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[CHITIETTHANHLY]    Script Date: 8/23/2016 6:43:44 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CHITIETTHANHLY](
	[IDTHANHLY] [nvarchar](50) NOT NULL,
	[MASACH] [nvarchar](50) NOT NULL,
	[TIENTHANHLY] [float] NULL,
 CONSTRAINT [PK_CHITIETTHANHLY_IDTL_MS] PRIMARY KEY CLUSTERED 
(
	[IDTHANHLY] ASC,
	[MASACH] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[DAUSACH]    Script Date: 8/23/2016 6:43:44 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DAUSACH](
	[MADAUSACH] [nvarchar](50) NOT NULL,
	[MANHASANXUAT] [nvarchar](50) NULL,
	[MALOAI] [nvarchar](50) NULL,
	[TENDAUSACH] [nvarchar](100) NULL,
	[SOTRANG] [int] NULL,
	[DONGIA] [float] NULL,
	[NAMXUATBAN] [smallint] NULL,
	[KHOSACH] [nvarchar](50) NULL,
	[IDNGAN] [int] NULL,
	[SOLUONG] [smallint] NULL,
 CONSTRAINT [PK_DAUSACH_MADS] PRIMARY KEY CLUSTERED 
(
	[MADAUSACH] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[DOCGIA]    Script Date: 8/23/2016 6:43:44 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DOCGIA](
	[MADG] [nvarchar](50) NOT NULL,
	[HO] [nvarchar](50) NULL,
	[TEN] [nvarchar](50) NULL,
	[PHAI] [bit] NULL,
	[DIACHI] [nvarchar](150) NULL,
	[NGAYSINH] [datetime] NULL,
	[EMAIL] [nvarchar](50) NULL,
 CONSTRAINT [PK_DOCGIA_MADG] PRIMARY KEY CLUSTERED 
(
	[MADG] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[LOAIPHI]    Script Date: 8/23/2016 6:43:44 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LOAIPHI](
	[IDLOAIPHI] [int] IDENTITY(1,1) NOT NULL,
	[TENLOAIPHI] [nvarchar](50) NULL,
	[SOTIEN] [float] NULL,
 CONSTRAINT [PK_LOAIPHI_IDLP] PRIMARY KEY CLUSTERED 
(
	[IDLOAIPHI] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[LOAISACH]    Script Date: 8/23/2016 6:43:44 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LOAISACH](
	[MALOAI] [nvarchar](50) NOT NULL,
	[TENLOAI] [nvarchar](50) NULL,
 CONSTRAINT [PK_LOAISACH_ML] PRIMARY KEY CLUSTERED 
(
	[MALOAI] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[NHAP]    Script Date: 8/23/2016 6:43:44 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NHAP](
	[MATHUTHU] [nvarchar](50) NOT NULL,
	[MADAUSACH] [nvarchar](50) NOT NULL,
	[NGAYNHAP] [datetime] NOT NULL,
	[SOLUONGNHAP] [smallint] NULL,
 CONSTRAINT [PK_NHAP_MATT_MADS_NGAYNHAP] PRIMARY KEY CLUSTERED 
(
	[MATHUTHU] ASC,
	[MADAUSACH] ASC,
	[NGAYNHAP] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[NHASANXUAT]    Script Date: 8/23/2016 6:43:44 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NHASANXUAT](
	[MANHASANXUAT] [nvarchar](50) NOT NULL,
	[TEN] [nvarchar](50) NULL,
	[DIACHI] [nvarchar](100) NULL,
 CONSTRAINT [PK_NHASANXUAT_MANSX] PRIMARY KEY CLUSTERED 
(
	[MANHASANXUAT] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[PHIEUMUONSACH]    Script Date: 8/23/2016 6:43:44 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PHIEUMUONSACH](
	[SOPM] [nvarchar](50) NOT NULL,
	[MADG] [nvarchar](50) NULL,
	[NGAYMUON] [datetime] NULL,
	[MATHUTHU] [nvarchar](50) NULL,
	[TINHTRANG] [bit] NULL,
 CONSTRAINT [PK_PHIEUMUONSACH_SOPM] PRIMARY KEY CLUSTERED 
(
	[SOPM] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[PHIEUTHU]    Script Date: 8/23/2016 6:43:44 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PHIEUTHU](
	[IDPHIEUTHU] [nvarchar](50) NOT NULL,
	[NGAYTHU] [date] NULL,
	[MATHUTHU] [nvarchar](50) NULL,
	[IDLOAIPHI] [int] NULL,
	[MADG] [nvarchar](50) NULL,
 CONSTRAINT [PK_PHIEUTHU_IDPT] PRIMARY KEY CLUSTERED 
(
	[IDPHIEUTHU] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[PHIEUTRASACH]    Script Date: 8/23/2016 6:43:44 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PHIEUTRASACH](
	[SOPT] [nvarchar](50) NOT NULL,
	[MADG] [nvarchar](50) NULL,
	[NGAYTRA] [date] NULL,
	[MATHUTHU] [nvarchar](50) NULL,
 CONSTRAINT [PK_PHIEUTRASACH_SOPT] PRIMARY KEY CLUSTERED 
(
	[SOPT] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[SACH]    Script Date: 8/23/2016 6:43:44 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SACH](
	[MASACH] [nvarchar](50) NOT NULL,
	[MADAUSACH] [nvarchar](50) NULL,
	[TINHTRANG] [nvarchar](50) NULL,
	[KIEUSACH] [nvarchar](50) NULL,
 CONSTRAINT [PK_SACH_MS] PRIMARY KEY CLUSTERED 
(
	[MASACH] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[SANGTAC]    Script Date: 8/23/2016 6:43:44 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SANGTAC](
	[MADAUSACH] [nvarchar](50) NOT NULL,
	[MATACGIA] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_SANGTAC_MADS_MATG] PRIMARY KEY CLUSTERED 
(
	[MADAUSACH] ASC,
	[MATACGIA] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[TACGIA]    Script Date: 8/23/2016 6:43:44 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TACGIA](
	[MATACGIA] [nvarchar](50) NOT NULL,
	[HO] [nvarchar](50) NULL,
	[TEN] [nvarchar](50) NULL,
	[PHAI] [bit] NULL,
	[DIACHI] [nvarchar](100) NULL,
	[EMAIL] [nvarchar](50) NULL,
	[NGAYSINH] [date] NULL,
 CONSTRAINT [PK_TACGIA_MATG] PRIMARY KEY CLUSTERED 
(
	[MATACGIA] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[THANHLY]    Script Date: 8/23/2016 6:43:44 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[THANHLY](
	[IDTHANHLY] [nvarchar](50) NOT NULL,
	[NGAYTHANHLY] [date] NULL,
	[MATHUTHU] [nvarchar](50) NULL,
 CONSTRAINT [PK_THANHLY_IDTL] PRIMARY KEY CLUSTERED 
(
	[IDTHANHLY] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[THUTHU]    Script Date: 8/23/2016 6:43:44 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[THUTHU](
	[MATHUTHU] [nvarchar](50) NOT NULL,
	[HO] [nvarchar](50) NULL,
	[TEN] [nvarchar](50) NULL,
	[PHAI] [bit] NULL,
	[DIACHI] [nvarchar](100) NULL,
	[NGAYSINH] [date] NULL,
	[EMAIL] [nvarchar](50) NULL,
	[MATKHAU] [nvarchar](50) NULL,
	[ISADMIN] [bit] NULL,
 CONSTRAINT [PK_THUTHU_MATT] PRIMARY KEY CLUSTERED 
(
	[MATHUTHU] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[VITRIKE]    Script Date: 8/23/2016 6:43:44 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[VITRIKE](
	[IDVITRIKE] [int] IDENTITY(1,1) NOT NULL,
	[TENVITRI] [nvarchar](50) NULL,
 CONSTRAINT [PK_VITRIKE_IDVTK] PRIMARY KEY CLUSTERED 
(
	[IDVITRIKE] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[VITRINGAN]    Script Date: 8/23/2016 6:43:44 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[VITRINGAN](
	[IDNGAN] [int] IDENTITY(1,1) NOT NULL,
	[IDVITRIKE] [int] NULL,
	[TENVITRI] [nvarchar](50) NULL,
 CONSTRAINT [PK_VITRINGAN_IDNGAN] PRIMARY KEY CLUSTERED 
(
	[IDNGAN] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
INSERT [dbo].[CHITIETPHIEUMUON] ([SOPM], [MASACH], [NGAYTRA], [GHICHU], [TINHTRANG], [GIAHAN]) VALUES (N'PM-1', N'ls10', CAST(N'2016-07-28 00:00:00.000' AS DateTime), N'', 0, 0)
INSERT [dbo].[CHITIETPHIEUMUON] ([SOPM], [MASACH], [NGAYTRA], [GHICHU], [TINHTRANG], [GIAHAN]) VALUES (N'PM-2', N'ls11', CAST(N'2016-07-28 00:00:00.000' AS DateTime), N'', 0, 0)
INSERT [dbo].[CHITIETPHIEUMUON] ([SOPM], [MASACH], [NGAYTRA], [GHICHU], [TINHTRANG], [GIAHAN]) VALUES (N'PM-2', N'ls12', CAST(N'2016-07-28 00:00:00.000' AS DateTime), N'', 0, 0)
INSERT [dbo].[CHITIETPHIEUTRA] ([SOPT], [MASACH], [GHICHU]) VALUES (N'PT-1', N'ls11', N'')
INSERT [dbo].[CHITIETPHIEUTRA] ([SOPT], [MASACH], [GHICHU]) VALUES (N'PT-1', N'ls12', N'')
INSERT [dbo].[CHITIETPHIEUTRA] ([SOPT], [MASACH], [GHICHU]) VALUES (N'PT-2', N'ls9', N'')
INSERT [dbo].[DAUSACH] ([MADAUSACH], [MANHASANXUAT], [MALOAI], [TENDAUSACH], [SOTRANG], [DONGIA], [NAMXUATBAN], [KHOSACH], [IDNGAN], [SOLUONG]) VALUES (N'CTDL', N'ĐN', N'CNTT', N'Cấu Trúc Dữ Liệu', 150, 90000, 2012, N'Lớn', 13, 2)
INSERT [dbo].[DAUSACH] ([MADAUSACH], [MANHASANXUAT], [MALOAI], [TENDAUSACH], [SOTRANG], [DONGIA], [NAMXUATBAN], [KHOSACH], [IDNGAN], [SOLUONG]) VALUES (N'DCLG', N'DT', N'KH', N'Dạy Con Làm Giàu', 97, 120000, 2010, N'Vừa', 14, 2)
INSERT [dbo].[DAUSACH] ([MADAUSACH], [MANHASANXUAT], [MALOAI], [TENDAUSACH], [SOTRANG], [DONGIA], [NAMXUATBAN], [KHOSACH], [IDNGAN], [SOLUONG]) VALUES (N'DPT', N'LĐ-XH', N'CNTT', N'Đa Phương Tiện', 70, 92000, 2013, N'Nhỏ', 15, 2)
INSERT [dbo].[DOCGIA] ([MADG], [HO], [TEN], [PHAI], [DIACHI], [NGAYSINH], [EMAIL]) VALUES (N'DG01', N'Nguyễn Hữu ', N'Phước', 1, N'Quảng Trị', CAST(N'1994-09-02 00:00:00.000' AS DateTime), N'phuocnguyenhuu029@gmail.com')
INSERT [dbo].[DOCGIA] ([MADG], [HO], [TEN], [PHAI], [DIACHI], [NGAYSINH], [EMAIL]) VALUES (N'DG02', N'Lê Thị Thanh', N'Nhàn', 0, N'Quảng Trị', CAST(N'1994-09-24 00:00:00.000' AS DateTime), N'nhan1@gmail.com')
INSERT [dbo].[DOCGIA] ([MADG], [HO], [TEN], [PHAI], [DIACHI], [NGAYSINH], [EMAIL]) VALUES (N'DG03', N'Lê Thị', N'Nhi', 0, N'Quảng Trị', CAST(N'1994-09-24 00:00:00.000' AS DateTime), N'nhan@gmail.com')
SET IDENTITY_INSERT [dbo].[LOAIPHI] ON 

INSERT [dbo].[LOAIPHI] ([IDLOAIPHI], [TENLOAIPHI], [SOTIEN]) VALUES (1, N'Thư viện', 25000)
INSERT [dbo].[LOAIPHI] ([IDLOAIPHI], [TENLOAIPHI], [SOTIEN]) VALUES (2, N'Quá hạn', 10000)
INSERT [dbo].[LOAIPHI] ([IDLOAIPHI], [TENLOAIPHI], [SOTIEN]) VALUES (3, N'Hỏng sách', 30000)
SET IDENTITY_INSERT [dbo].[LOAIPHI] OFF
INSERT [dbo].[LOAISACH] ([MALOAI], [TENLOAI]) VALUES (N'CNTT', N'Công Nghệ Thông Tin')
INSERT [dbo].[LOAISACH] ([MALOAI], [TENLOAI]) VALUES (N'CNTTT', N'Chăn Nuôi Trồng Trọt')
INSERT [dbo].[LOAISACH] ([MALOAI], [TENLOAI]) VALUES (N'DL', N'Địa lý')
INSERT [dbo].[NHASANXUAT] ([MANHASANXUAT], [TEN], [DIACHI]) VALUES (N'ĐN', N'Tổng Hợp Đồng Nai', N'Đồng Nai')
INSERT [dbo].[NHASANXUAT] ([MANHASANXUAT], [TEN], [DIACHI]) VALUES (N'DT', N'Dân Trí', N'Đống Đa, Hà Nội')
INSERT [dbo].[NHASANXUAT] ([MANHASANXUAT], [TEN], [DIACHI]) VALUES (N'HUE', N'Nhà xuất bản Huế', N'Thừa Thiên Huế')
INSERT [dbo].[PHIEUMUONSACH] ([SOPM], [MADG], [NGAYMUON], [MATHUTHU], [TINHTRANG]) VALUES (N'PM-1', N'DG01', CAST(N'2016-07-26 10:30:29.763' AS DateTime), N'admin', 1)
INSERT [dbo].[PHIEUMUONSACH] ([SOPM], [MADG], [NGAYMUON], [MATHUTHU], [TINHTRANG]) VALUES (N'PM-2', N'DG02', CAST(N'2016-07-26 10:30:48.927' AS DateTime), N'admin', 1)
INSERT [dbo].[PHIEUMUONSACH] ([SOPM], [MADG], [NGAYMUON], [MATHUTHU], [TINHTRANG]) VALUES (N'PM-3', N'DG05', CAST(N'2016-08-01 09:25:55.143' AS DateTime), N'admin', 1)
INSERT [dbo].[PHIEUTHU] ([IDPHIEUTHU], [NGAYTHU], [MATHUTHU], [IDLOAIPHI], [MADG]) VALUES (N'PTHU-1', CAST(N'2016-07-10' AS Date), N'admin', 3, N'DG03')
INSERT [dbo].[PHIEUTHU] ([IDPHIEUTHU], [NGAYTHU], [MATHUTHU], [IDLOAIPHI], [MADG]) VALUES (N'PTHU-2', CAST(N'2016-07-10' AS Date), N'admin', 3, N'DG05')
INSERT [dbo].[PHIEUTHU] ([IDPHIEUTHU], [NGAYTHU], [MATHUTHU], [IDLOAIPHI], [MADG]) VALUES (N'PTHU-3', CAST(N'2016-07-10' AS Date), N'admin', 1, N'DG10')
INSERT [dbo].[PHIEUTRASACH] ([SOPT], [MADG], [NGAYTRA], [MATHUTHU]) VALUES (N'PT-1', N'DG02', CAST(N'2016-07-26' AS Date), N'admin')
INSERT [dbo].[PHIEUTRASACH] ([SOPT], [MADG], [NGAYTRA], [MATHUTHU]) VALUES (N'PT-2', N'DG10', CAST(N'2016-08-22' AS Date), N'admin')
INSERT [dbo].[SACH] ([MASACH], [MADAUSACH], [TINHTRANG], [KIEUSACH]) VALUES (N'CTDL1', N'CTDL', N'Trống', N'Cho mượn')
INSERT [dbo].[SACH] ([MASACH], [MADAUSACH], [TINHTRANG], [KIEUSACH]) VALUES (N'ls10', N'LS10', N'Sách đang mượn', N'Cho mượn')
INSERT [dbo].[SACH] ([MASACH], [MADAUSACH], [TINHTRANG], [KIEUSACH]) VALUES (N'ls11', N'LS11', N'Trống', N'Cho mượn')
INSERT [dbo].[SANGTAC] ([MADAUSACH], [MATACGIA]) VALUES (N'CTDL', N'NHP')
INSERT [dbo].[SANGTAC] ([MADAUSACH], [MATACGIA]) VALUES (N'DCLG', N'PVC')
INSERT [dbo].[SANGTAC] ([MADAUSACH], [MATACGIA]) VALUES (N'DPT', N'PVC')
INSERT [dbo].[TACGIA] ([MATACGIA], [HO], [TEN], [PHAI], [DIACHI], [EMAIL], [NGAYSINH]) VALUES (N'LTH', N'Lê Thu', N'Hương', 0, N'Quảng Trị', N'huong@gmail.com', CAST(N'1994-02-12' AS Date))
INSERT [dbo].[TACGIA] ([MATACGIA], [HO], [TEN], [PHAI], [DIACHI], [EMAIL], [NGAYSINH]) VALUES (N'LTN', N'Lê Thu', N'Nga', 0, N'Quảng Trị', N'nga@gmail.com', CAST(N'1994-09-17' AS Date))
INSERT [dbo].[TACGIA] ([MATACGIA], [HO], [TEN], [PHAI], [DIACHI], [EMAIL], [NGAYSINH]) VALUES (N'LTNN', N'Lê Thu', N'Nhàn', 0, N'Quảng Trị', N'huong@gmail.com', CAST(N'1994-02-12' AS Date))
INSERT [dbo].[THUTHU] ([MATHUTHU], [HO], [TEN], [PHAI], [DIACHI], [NGAYSINH], [EMAIL], [MATKHAU], [ISADMIN]) VALUES (N'admin', N'Nguyễn Hữu', N'Phước', 1, N'Quảng Trị', CAST(N'1994-09-02' AS Date), N'phuoc2994@gmail.com', N'admin', 1)
INSERT [dbo].[THUTHU] ([MATHUTHU], [HO], [TEN], [PHAI], [DIACHI], [NGAYSINH], [EMAIL], [MATKHAU], [ISADMIN]) VALUES (N'anh', N'Phan Thị Ngọc', N'Ánh', 0, N'Hà Tỉnh', CAST(N'1997-09-17' AS Date), N'anhphan17@gmail.com', N'123', 0)
INSERT [dbo].[THUTHU] ([MATHUTHU], [HO], [TEN], [PHAI], [DIACHI], [NGAYSINH], [EMAIL], [MATKHAU], [ISADMIN]) VALUES (N'binh', N'Lê Văn', N'Bình', 1, N'Quảng Trị', CAST(N'1994-05-16' AS Date), N'binh@gmail.com', N'123', 1)
SET IDENTITY_INSERT [dbo].[VITRIKE] ON 

INSERT [dbo].[VITRIKE] ([IDVITRIKE], [TENVITRI]) VALUES (7, N'KỆ A')
INSERT [dbo].[VITRIKE] ([IDVITRIKE], [TENVITRI]) VALUES (8, N'Kệ B')
INSERT [dbo].[VITRIKE] ([IDVITRIKE], [TENVITRI]) VALUES (9, N'KỆ C')
SET IDENTITY_INSERT [dbo].[VITRIKE] OFF
SET IDENTITY_INSERT [dbo].[VITRINGAN] ON 

INSERT [dbo].[VITRINGAN] ([IDNGAN], [IDVITRIKE], [TENVITRI]) VALUES (13, 7, N'1A')
INSERT [dbo].[VITRINGAN] ([IDNGAN], [IDVITRIKE], [TENVITRI]) VALUES (14, 7, N'2A')
INSERT [dbo].[VITRINGAN] ([IDNGAN], [IDVITRIKE], [TENVITRI]) VALUES (15, 8, N'1B')
SET IDENTITY_INSERT [dbo].[VITRINGAN] OFF
ALTER TABLE [dbo].[CHITIETPHIEUMUON]  WITH CHECK ADD  CONSTRAINT [FK_CHITIETPHIEUMUON_MS] FOREIGN KEY([MASACH])
REFERENCES [dbo].[SACH] ([MASACH])
GO
ALTER TABLE [dbo].[CHITIETPHIEUMUON] CHECK CONSTRAINT [FK_CHITIETPHIEUMUON_MS]
GO
ALTER TABLE [dbo].[CHITIETPHIEUMUON]  WITH CHECK ADD  CONSTRAINT [FK_CHITIETPHIEUMUON_SOPM] FOREIGN KEY([SOPM])
REFERENCES [dbo].[PHIEUMUONSACH] ([SOPM])
GO
ALTER TABLE [dbo].[CHITIETPHIEUMUON] CHECK CONSTRAINT [FK_CHITIETPHIEUMUON_SOPM]
GO
ALTER TABLE [dbo].[CHITIETPHIEUTRA]  WITH CHECK ADD  CONSTRAINT [FK_CHITIETPHIEUTRA_MS] FOREIGN KEY([MASACH])
REFERENCES [dbo].[SACH] ([MASACH])
GO
ALTER TABLE [dbo].[CHITIETPHIEUTRA] CHECK CONSTRAINT [FK_CHITIETPHIEUTRA_MS]
GO
ALTER TABLE [dbo].[CHITIETPHIEUTRA]  WITH CHECK ADD  CONSTRAINT [FK_CHITIETPHIEUTRA_SOPT] FOREIGN KEY([SOPT])
REFERENCES [dbo].[PHIEUTRASACH] ([SOPT])
GO
ALTER TABLE [dbo].[CHITIETPHIEUTRA] CHECK CONSTRAINT [FK_CHITIETPHIEUTRA_SOPT]
GO
ALTER TABLE [dbo].[CHITIETTHANHLY]  WITH CHECK ADD  CONSTRAINT [FK_CHITIETTHANHLY_IDTL] FOREIGN KEY([IDTHANHLY])
REFERENCES [dbo].[THANHLY] ([IDTHANHLY])
GO
ALTER TABLE [dbo].[CHITIETTHANHLY] CHECK CONSTRAINT [FK_CHITIETTHANHLY_IDTL]
GO
ALTER TABLE [dbo].[CHITIETTHANHLY]  WITH CHECK ADD  CONSTRAINT [FK_CHITIETTHANHLY_MS] FOREIGN KEY([MASACH])
REFERENCES [dbo].[SACH] ([MASACH])
GO
ALTER TABLE [dbo].[CHITIETTHANHLY] CHECK CONSTRAINT [FK_CHITIETTHANHLY_MS]
GO
ALTER TABLE [dbo].[DAUSACH]  WITH CHECK ADD  CONSTRAINT [FK_DAUSACH_IDNGAN] FOREIGN KEY([IDNGAN])
REFERENCES [dbo].[VITRINGAN] ([IDNGAN])
GO
ALTER TABLE [dbo].[DAUSACH] CHECK CONSTRAINT [FK_DAUSACH_IDNGAN]
GO
ALTER TABLE [dbo].[DAUSACH]  WITH CHECK ADD  CONSTRAINT [FK_DAUSACH_MANSX] FOREIGN KEY([MANHASANXUAT])
REFERENCES [dbo].[NHASANXUAT] ([MANHASANXUAT])
GO
ALTER TABLE [dbo].[DAUSACH] CHECK CONSTRAINT [FK_DAUSACH_MANSX]
GO
ALTER TABLE [dbo].[DAUSACH]  WITH CHECK ADD  CONSTRAINT [FK_DAUSACH_ML] FOREIGN KEY([MALOAI])
REFERENCES [dbo].[LOAISACH] ([MALOAI])
GO
ALTER TABLE [dbo].[DAUSACH] CHECK CONSTRAINT [FK_DAUSACH_ML]
GO
ALTER TABLE [dbo].[NHAP]  WITH CHECK ADD  CONSTRAINT [FK_NHAP_MADS] FOREIGN KEY([MADAUSACH])
REFERENCES [dbo].[DAUSACH] ([MADAUSACH])
GO
ALTER TABLE [dbo].[NHAP] CHECK CONSTRAINT [FK_NHAP_MADS]
GO
ALTER TABLE [dbo].[NHAP]  WITH CHECK ADD  CONSTRAINT [FK_NHAP_MATT] FOREIGN KEY([MATHUTHU])
REFERENCES [dbo].[THUTHU] ([MATHUTHU])
GO
ALTER TABLE [dbo].[NHAP] CHECK CONSTRAINT [FK_NHAP_MATT]
GO
ALTER TABLE [dbo].[PHIEUMUONSACH]  WITH CHECK ADD  CONSTRAINT [FK_PHIEUMUONSACH_MADG] FOREIGN KEY([MADG])
REFERENCES [dbo].[DOCGIA] ([MADG])
GO
ALTER TABLE [dbo].[PHIEUMUONSACH] CHECK CONSTRAINT [FK_PHIEUMUONSACH_MADG]
GO
ALTER TABLE [dbo].[PHIEUMUONSACH]  WITH CHECK ADD  CONSTRAINT [FK_PHIEUMUONSACH_MATT] FOREIGN KEY([MATHUTHU])
REFERENCES [dbo].[THUTHU] ([MATHUTHU])
GO
ALTER TABLE [dbo].[PHIEUMUONSACH] CHECK CONSTRAINT [FK_PHIEUMUONSACH_MATT]
GO
ALTER TABLE [dbo].[PHIEUTHU]  WITH CHECK ADD  CONSTRAINT [FK_PHIEUTHU_IDLP] FOREIGN KEY([IDLOAIPHI])
REFERENCES [dbo].[LOAIPHI] ([IDLOAIPHI])
GO
ALTER TABLE [dbo].[PHIEUTHU] CHECK CONSTRAINT [FK_PHIEUTHU_IDLP]
GO
ALTER TABLE [dbo].[PHIEUTHU]  WITH CHECK ADD  CONSTRAINT [FK_PHIEUTHU_MADG] FOREIGN KEY([MADG])
REFERENCES [dbo].[DOCGIA] ([MADG])
GO
ALTER TABLE [dbo].[PHIEUTHU] CHECK CONSTRAINT [FK_PHIEUTHU_MADG]
GO
ALTER TABLE [dbo].[PHIEUTHU]  WITH CHECK ADD  CONSTRAINT [FK_PHIEUTHU_MATT] FOREIGN KEY([MATHUTHU])
REFERENCES [dbo].[THUTHU] ([MATHUTHU])
GO
ALTER TABLE [dbo].[PHIEUTHU] CHECK CONSTRAINT [FK_PHIEUTHU_MATT]
GO
ALTER TABLE [dbo].[PHIEUTRASACH]  WITH CHECK ADD  CONSTRAINT [FK_PHIEUTRASACH_IDLP] FOREIGN KEY([MADG])
REFERENCES [dbo].[DOCGIA] ([MADG])
GO
ALTER TABLE [dbo].[PHIEUTRASACH] CHECK CONSTRAINT [FK_PHIEUTRASACH_IDLP]
GO
ALTER TABLE [dbo].[PHIEUTRASACH]  WITH CHECK ADD  CONSTRAINT [FK_PHIEUTRASACH_MATT] FOREIGN KEY([MATHUTHU])
REFERENCES [dbo].[THUTHU] ([MATHUTHU])
GO
ALTER TABLE [dbo].[PHIEUTRASACH] CHECK CONSTRAINT [FK_PHIEUTRASACH_MATT]
GO
ALTER TABLE [dbo].[SACH]  WITH CHECK ADD  CONSTRAINT [FK_SACH_MADS] FOREIGN KEY([MADAUSACH])
REFERENCES [dbo].[DAUSACH] ([MADAUSACH])
GO
ALTER TABLE [dbo].[SACH] CHECK CONSTRAINT [FK_SACH_MADS]
GO
ALTER TABLE [dbo].[SANGTAC]  WITH CHECK ADD  CONSTRAINT [FK_SANGTAC_MADS] FOREIGN KEY([MADAUSACH])
REFERENCES [dbo].[DAUSACH] ([MADAUSACH])
GO
ALTER TABLE [dbo].[SANGTAC] CHECK CONSTRAINT [FK_SANGTAC_MADS]
GO
ALTER TABLE [dbo].[SANGTAC]  WITH CHECK ADD  CONSTRAINT [FK_SANGTAC_MATG] FOREIGN KEY([MATACGIA])
REFERENCES [dbo].[TACGIA] ([MATACGIA])
GO
ALTER TABLE [dbo].[SANGTAC] CHECK CONSTRAINT [FK_SANGTAC_MATG]
GO
ALTER TABLE [dbo].[THANHLY]  WITH CHECK ADD  CONSTRAINT [FK_THANHLY_MATT] FOREIGN KEY([MATHUTHU])
REFERENCES [dbo].[THUTHU] ([MATHUTHU])
GO
ALTER TABLE [dbo].[THANHLY] CHECK CONSTRAINT [FK_THANHLY_MATT]
GO
ALTER TABLE [dbo].[VITRINGAN]  WITH CHECK ADD  CONSTRAINT [FK_VITRINGAN_MATT] FOREIGN KEY([IDVITRIKE])
REFERENCES [dbo].[VITRIKE] ([IDVITRIKE])
GO
ALTER TABLE [dbo].[VITRINGAN] CHECK CONSTRAINT [FK_VITRINGAN_MATT]
GO
/****** Object:  StoredProcedure [dbo].[SP_GIAHAN]    Script Date: 8/23/2016 6:43:44 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[SP_GIAHAN]
	@MASACH NVARCHAR(50),
	@SOPM NVARCHAR(50),
	@NGAYTRA DATETIME
AS
BEGIN
	SET TRANSACTION ISOLATION LEVEL SERIALIZABLE;
	BEGIN TRANSACTION;

		UPDATE CHITIETPHIEUMUON
			SET NGAYTRA= @NGAYTRA, GIAHAN ='True'
            WHERE MASACH= @MASACH AND SOPM= @SOPM     
			                                      
	COMMIT TRANSACTION;
END

GO
/****** Object:  StoredProcedure [dbo].[SP_HIENTHIGHAN]    Script Date: 8/23/2016 6:43:44 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[SP_HIENTHIGHAN]
	@MADG NVARCHAR(50)
AS
BEGIN
	SET TRANSACTION ISOLATION LEVEL SERIALIZABLE;
	BEGIN TRANSACTION;
		SELECT SACH.MASACH, DAUSACH.TENDAUSACH, '' AS GHICHU, 
               CONVERT(BIT, 'True') AS TINHTRANG,
			   PHIEUMUONSACH.SOPM,
               CONVERT(NVARCHAR, CHITIETPHIEUMUON.NGAYTRA,103) AS NGAYTRA
		FROM SACH INNER JOIN DAUSACH 
					ON SACH.MADAUSACH = DAUSACH.MADAUSACH
                  INNER JOIN CHITIETPHIEUMUON 
					ON SACH.MASACH = CHITIETPHIEUMUON.MASACH 
				  INNER JOIN PHIEUMUONSACH 
					ON CHITIETPHIEUMUON.SOPM = PHIEUMUONSACH.SOPM
			WHERE CHITIETPHIEUMUON.TINHTRANG = 'false' 
                  AND CHITIETPHIEUMUON.GIAHAN='false' 
                  AND CHITIETPHIEUMUON.NGAYTRA>GETDATE()
                  AND PHIEUMUONSACH.MADG= @MADG
	COMMIT TRANSACTION;
END
GO
/****** Object:  StoredProcedure [dbo].[SP_SAVECTPHIEUMUON]    Script Date: 8/23/2016 6:43:44 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[SP_SAVECTPHIEUMUON]
	--SOPM, MASACH, NGAYTRA, GHICHU, TINHTRANG,GIAHAN
	@SOPM NVARCHAR(50),
	@MASACH NVARCHAR(50),
	@NGAYTRA DATETIME,
	@GHICHU NVARCHAR(250),
	@TINHTRANG BIT,
	@GIAHAN BIT
AS
BEGIN
	SET TRANSACTION ISOLATION LEVEL SERIALIZABLE;
	BEGIN TRANSACTION;
		INSERT INTO CHITIETPHIEUMUON(SOPM, MASACH, NGAYTRA, GHICHU, TINHTRANG,GIAHAN)
					VALUES(@SOPM, @MASACH, @NGAYTRA, @GHICHU, @TINHTRANG, @GIAHAN)
		IF @@ROWCOUNT = 1 --@@ROWCOUNT: return the number of rows affected by the last statement
		BEGIN
		      UPDATE SACH
			         SET 
				        TINHTRANG = N'Sách đang mượn'
				     WHERE MASACH = @MASACH
	    END
	COMMIT TRANSACTION;
END

GO
/****** Object:  StoredProcedure [dbo].[SP_SAVECTTHANHLY]    Script Date: 8/23/2016 6:43:44 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[SP_SAVECTTHANHLY]
	--SOPM, MASACH, NGAYTRA, GHICHU, TINHTRANG,GIAHAN
	@IDTHANHLY NVARCHAR(50),
	@MASACH NVARCHAR(50),
	@TIENTHANHLY FLOAT
AS
BEGIN
	SET TRANSACTION ISOLATION LEVEL SERIALIZABLE;
	BEGIN TRANSACTION;
		INSERT INTO CHITIETTHANHLY(IDTHANHLY, MASACH, TIENTHANHLY)
					VALUES(@IDTHANHLY, @MASACH, @TIENTHANHLY)
		IF @@ROWCOUNT = 1 --@@ROWCOUNT: return the number of rows affected by the last statement
		BEGIN
		      UPDATE SACH
			         SET 
				        TINHTRANG = N'Sách thanh lý'
				     WHERE MASACH = @MASACH
	    END
	COMMIT TRANSACTION;
END

GO
/****** Object:  StoredProcedure [dbo].[SP_XOAPHIEUVACTPMUONSACH]    Script Date: 8/23/2016 6:43:44 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


CREATE PROCEDURE [dbo].[SP_XOAPHIEUVACTPMUONSACH]
	@SOPM NVARCHAR(50),
	@MASACH NVARCHAR(50)
AS
BEGIN
	
	SET TRANSACTION ISOLATION LEVEL SERIALIZABLE;
	BEGIN TRANSACTION;
		UPDATE SACH
			SET
				TINHTRANG= N'Trống'
			WHERE MASACH = @MASACH
	IF @@ROWCOUNT = 1 --@@ROWCOUNT: return the number of rows affected by the last statement
	BEGIN
		DELETE FROM CHITIETPHIEUMUON WHERE SOPM = @SOPM
		DELETE FROM PHIEUMUONSACH WHERE SOPM = @SOPM
	END
	COMMIT TRANSACTION;
END

GO
/****** Object:  StoredProcedure [dbo].[SP_XOATHANHLY]    Script Date: 8/23/2016 6:43:44 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


CREATE PROCEDURE [dbo].[SP_XOATHANHLY]
	@IDTHANHLY NVARCHAR(50),
	@MASACH NVARCHAR(50)
AS
BEGIN
	
	SET TRANSACTION ISOLATION LEVEL SERIALIZABLE;
	BEGIN TRANSACTION;
		UPDATE SACH
			SET
				TINHTRANG= N'Trống'
			WHERE MASACH = @MASACH
	IF @@ROWCOUNT = 1 --@@ROWCOUNT: return the number of rows affected by the last statement
	BEGIN
		DELETE FROM CHITIETTHANHLY WHERE IDTHANHLY = @IDTHANHLY
		DELETE FROM THANHLY WHERE IDTHANHLY = @IDTHANHLY
	END
	COMMIT TRANSACTION;
END

GO
USE [master]
GO
